*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: "Roboto";
}

.section{
    width: 100%;
}


/* ---------------------section uppersign------------------------------- */

.uppersign{
    min-width: 1440px;
    height: 29px;
    background-color: black;
    display: flex;
}

.sign{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    padding-top: 7px;
    margin-bottom: 7px;
    width: 291px;
    flex: 1;
}

/* ---------------------section mainmenu------------------------------- */

.mainmenu__logo2{
    margin-top: 14px;
}

.header__menu{
    display: flex;
    height: 66px;
}

.mainmenu__logo{
    height: 66px;
    flex-grow: 1;
}

.menu{
    flex-grow: 1.5;
}

.mainmenu__list{
    width: 736px;
}

.mainmenu__list > li{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 22px;
}

.mainmenu__item_1{
    margin-left: 11px;
}

.mainmenu__item_2{
    margin-left: 22px;
}

.mainmenu__item_3{
    margin-left: 23px;
}

.mainmenu__item_4{
    margin-left: 22px;
}

.mainmenu__item_5{
    margin-left: 23px;
    margin-right: 34px;
}

.mainmenu__list > li:hover{
    color: #20f60c;
    cursor: pointer;
}

.menu > ul{
    display: flex;
}

.mainmenu__buttons{
    display: flex;
    height: 66px;
    margin-right: 20px;
}

.mainmenu__buttons > div:hover{
    cursor: pointer;
}

.mainmenu__buttons > div{
    margin-top: 24px;
}

.corz__logo{
    margin-left: 10px;
}

.corz__logo2:hover{ /* скачать svg!!*/
    fill: orange
}

.profile__logo{
    margin-left: 5px;
}

.profile__logo2:hover{
    fill: orange;
}

.mainmenu__logo{
    margin-top: 0;
}

.mainmenu__logo2{
    margin-left: 11px;
}


/* ---------------------section welcome------------------------------- */

.welcome{
    height: 810px;
    background-image: url(../img/block1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__sign{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    text-align: center;
    color: #000000;
    padding-top: 53px;
}

.welcome__sign2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    padding-top: 14px;
}

.welcome__buttons{
    text-align: center;
    padding-top: 22px;
}

.revs{
    margin-right: 12px;
}

.welcome__buttons > button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;

    background-color: #FF4A32;
    height: 33px;
    width: 201px;
    left: 0%;
    right: 0%;
    top: 0px;
    border-radius: 35px;
    border: none;
}

.welcome__buttons > button:hover{
    background-color: #6c150a;
    cursor: pointer;
}

/* ---------------------section boostedrev------------------------------- */

.boostedrev{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    column-gap: 40px;
}

.boostedrev > div{
    height: 580px;
    padding-top: 223px;
}

.boostedrev__firstpict{
    background-image: url(../img/block2_pict1.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 130px;
    background-position: center;
}

.boostedrev__secondpict{
    background-image: url(../img/block2_pict2.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-right: 130px;
    background-position: center;
}


.rev__first_sign1, .rev__first_sign2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
}

.rev__second_instock{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 14px;
}

/* ---------------------section skatepict------------------------------- */

.skatepict{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,33%);
    height: 449px;
}

.skatepict__1pict{
    background-image: url(../img/block3_pict1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.skatepict__2pict{
    background-image: url(../img/block3_pict2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.skatepict__3pict{
    background-image: url(../img/block3_pict3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.skate_instock{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 14px;
}

.skatepict > div > div:first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    margin-top: 197px;
}

/* ---------------------section go------------------------------- */

.go{
    height: 308px;
    background-color: black;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-items: center;
}

.go > div{
    width: 330px;
    height: 257px;
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_signfirst{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
}
.footer_signsecond{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
    width: 270px;
}

.footer_logo{
    margin-top: 35px;
}

/* ---------------------section footer_information------------------------------- */

.footer__information{
    height: 329px;
    background-color: rgba(247, 247, 247, 1);
}

.information_mainblock{
    display: grid;
    grid-template-columns: repeat(3,33%);
    padding-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.logo__footer{
    height: 134px;
    width: 160px;
    margin-top: 29px;
    margin-left: 10px;
}

.about{
    margin-left: 20px;
}

.explore, .about{
    width: 379px;
    height: 229px;
    margin-top: 30px;
}

.explore, .about > div{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
}

.sign_explore{
    font-size: 20px;
}

.sign_about{
    font-size: 19px;
}

.explore__list{
    list-style-type: none;
    font-size: 14px;
    margin-top: 10px;
}

.about_text{
    margin-top: 12px;
    margin-bottom: 19px;
}

.about_text, .address1,.address2,.address3{
    font-size: 14px;
}

/* ---------------------section terms------------------------------- */

.terms{
    height: 70px;
    background-color: white;
    margin-left: 120px;
}

.footerlast{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-column-gap: 250px
}

.termsInfo{
    margin-top: 20px;
    height: 30px;
}

.termsInfo div{
    display: flex;
    align-items: center;
    justify-content: left;
}

.footerIcons{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    gap: 4px;
    width: 332px;
    height: 30px;
}

.termsText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
}

.termsTextOrange{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FF4A32;
}